extends layout

block body:content
	h1 #{user.name}

	dl
		dt Username
		dd= user.username

		dt ID
		dd= user.id || user._id

		dt Age
		dd= user.age

block prepend body:footer
	div
		a(href=`/articles?author=${user.username}`) articles

	div
		form(method="POST", action="/auth/logout")
			button(type="submit") logout
